*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
img{
    height: 250px;
    width:20%;
}
ul{
    list-style: none;
}
h1,img,h2{
    flex-direction: column;
    display: flex;
    align-items: center;
}
img{
    margin: auto;;
}

ul{
    width:10%;
    height: 70px;
    margin: auto;
    clear: both;
}
li{
    font-size: 2rem;
    font-weight: bolder;
    width: 100%;
    text-align:left;
    border: 1px solid black;
    padding-left: 9px;
    clear: both;
    margin: auto;
}
ul:first-child{
    background: green;
}
