<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>todos</h1>
    <ul>
        <%todos.forEach(element => {%>
            <li class="todoItem" data-Id='<%element._id>%>'>
                <span class="<%= element.completed === true?'completed':'not'%>"><%=element.todo%></span>
                <span class='del'> Delete </span>
            </li>
            <%})
        %>
    </ul>

    <h2>Things left to do:<%=left%</h2>

    <form action="/todos/createTodo" method="POST">
        <input type="text" placeholder="enter todo Item" name="todoItem">
        <input type="submit">
    </form>

    <script src="js/main.js" ></script>
</body>
</html>