<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="float_style1.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>this is header</header>
    <section class="strip1">section1</section>
    <section class="strip1">section2</section>
    <section class="strip2">section3</section>
    <section class="strip2">section4</section>
    <footer>footer</footer>
</body>
</html>