<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="float_style2.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>this is header</header>
    <section>this is section 1</section>
    <section class="tobefloated">this is section 2</section>
    <section class="tobefloated">this is section 3</section>
    <footer>this is footer</footer>
</body>
</html>